<style>
    :host {
        display: block;
    }

    #memeimg {
        border: 2pt dashed gray;
        min-width: 100pt;
        min-height: 100pt;
    }
</style>

<svg>
    <filter id="{{convFilterId}}">
        <feConvolveMatrix order="3 3" preserveAlpha="true" kernelMatrix="{{convFilterKernel}}" />
    </filter>
    <filter id="{{blurFilterId}}">
        <feGaussianBlur in="SourceGraphic" stdDeviation="{{blurStdDeviation}}" />
    </filter>
</svg>

<img id="srcimg" data-scale=1 data-jpeg-quality=0.9 data-total-jpegs=22 data-use-overlay=true data-noise=0.2
    data-brightness=2 data-saturate=2 data-contrast=2>