<style>
    :host {
        display: block;
        width: 100%;
        height: 100%;
    }
    svg {
        width: 0; height: 0;
        position: absolute;
        top: -1000px;
    }

    img {
        object-fit: contain;
        min-height: 100%;
        max-height: 100%;
    }
</style>

<svg>
    <filter id="[[convFilterId]]">
        <feConvolveMatrix order="3 3" preserveAlpha="true" kernelMatrix="[[convFilterKernel]]" />
    </filter>
    <filter id="[[blurFilterId]]">
        <feGaussianBlur in="SourceGraphic" stdDeviation="[[blurStdDeviation]]" />
    </filter>
</svg>

<img id="srcimg" src="[[src]]" />
